body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background: linear-gradient(to right, rgb(148, 236, 177), rgb(191, 222, 226)); */
    background: rgb(18, 1, 1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.screen {
    display: none;
    max-width: 1200px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background: rgb(234, 242, 242);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.active {
    display: block;
    transform: scale(1.02);
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.question-count {
    font-weight: bold;
}

.score {
    color: #4CAF50;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 20px 0;
}

.timer {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #a3c4b4;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #393e3c;
    transform: scale(1.05);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

button.correct {
    background-color: #4CAF50;
}

button.incorrect {
    background-color: #FF5733;
}

select {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Responsive Design */
@media (max-width: 900px) {
    .options {
        grid-template-columns: 1fr;
    }

    .screen {
        width: 95%;
        padding: 15px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .container {
        height: auto;
        padding: 15px;
    }

    .screen {
        width: 100%;
        padding: 15px;
    }

    .quiz-info {
        flex-direction: column;
        text-align: center;
    }

    .options {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
        width: 100%;
    }
}
